<h1></h1>
<br/><br/><br/><br/>

<%= form_tag 'login_page' do %>
<center>

    <table  bgcolor="#ffddsd" width="40%" height="28%" >
        <tr>
 <td bgcolor="#073E5A" height="2%" colspan="2" align="center"  font-size="20"><b><font color="white">Admin Login</td></b>        </tr>
    <tr>
    <th>
        <big>
    User Name:</big>
    </th>
   
<td><%= text_field_tag :user_from_login5, '', 
                            :class => 'ctrl' %>    </td>
</tr>
<tr>
    <th><big>
    Password:</big>
</th>
<td><%= password_field_tag :pw_from_login5, '', 
                            :class => 'ctrl' %></td>
    </tr>
    <tr>
    <th align="left" colspan="2">
      &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp   &nbsp  &nbsp 
</th>
    </tr>
    <tr>
<td> </td>
     <td><%= submit_tag 'Login', 
                            :class => 'ctrl' %></td>     
</tr>
<table>
<% end %>